.table {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #dadada;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}
.table-head .table-row {
  background-color: #ececec;
  color: #3e3e3e;
  font-weight: bold;
}
.table-head .table-row .table-cell {
  font-size: 16px;
}
.table-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #dadada;
}
.table-row:hover {
  background-color: #ddd;
}
.table-row-devided {
  display: flex;
  width: 85%;
  text-decoration: none;
  color: #000;
}

.actions {
  display: flex;
  width: 15%;
}
.table-cell {
  display: flex;
  flex: 1;
  font-size: 14px;
  padding: 15px 10px;
  text-decoration: none;
  color: #000;
  align-items: center;
  transition: all 0.15s ease-in-out;
}
.actions button {
  background: transparent;
  border: none;
}
.table-cell > svg {
  margin-left: 0.25rem;
}
.for-mobile {
  display: none;
  font-weight: bold;
}
@media screen and (min-width: 1048px) and (max-width: 1200px) {
  .table-head .table-row .table-cell {
    font-size: 14px;
  }
}
@media screen and (min-width: 949px) and (max-width: 1047px) {
  .table-head .table-row .table-cell {
    font-size: 13px;
  }
}
@media screen and (max-width: 950px) {
  .table-head {
    display: none;
  }
  .table-row,
  .table-row-devided {
    flex-direction: column;
  }
  .for-mobile {
    display: inline-block;
  }
  .table-row-devided .table-cell .for-mobile {
    margin-right: 0.2rem;
  }
  .actions .table-cell .for-mobile {
    margin-left: 0.2rem;
  }
}
