body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}
.page {
  padding-top: 3rem;
}
.text-center {
  text-align: center;
}
.block {
  display: block;
}
.pointer {
  cursor: pointer;
}
.flex {
  display: flex;
}
